OPENAI_API_KEY=   # Key for authenticating requests to OpenAI's API. Used to interact with OpenAI wrapper.
APP_API_KEY=      # Generate your own api key to secure and manage access to the proposal endpoint for external interactions.
APP_COMPLETIONS_ENDPOINT= # Endpoint for the completions API. Used to interact with the completions API.
MARKET_ROUTER_USERNAME=    # Username for the Market router if you are already registered, used for transactional operations.
MARKET_ROUTER_FULLNAME=    # Full name for the Market router if you are already registered, used for transactional operations.
MARKET_ROUTER_EMAIL=       # Email for the Market router if you are already registered, used for transactional operations.
MARKET_ROUTER_PASSWORD=    # Password for the Market router if you are already registered, used for transactional operations.
MARKET_ROUTER_API_KEY=     # API key for the Market router if you are already registered, used for transactional operations.