.env
Pipfile.lock
*.pyc
__pycache__/
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.so
.Python
env/
venv/
log/
ENV/
*.mo
*.pot
.project
.pydevproject
.idea/
*.pyc
*.pyo
*.pyd
*.swp

cloud/.*
cloud/.terraform/**
cloud/terraform.tfstate
cloud/terraform.tfstate.backup

infrastructure/.*
infrastructure/.terraform/**
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup